# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*id_rsa*
*id_ed25519*
*deploy_key*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
test-smtp.js

# OTP System (Removed from tracking)
src/auth.ts
src/auth.config.ts
src/middleware.ts
src/actions/auth.ts
src/components/auth/EmailOTPForm.tsx
src/app/api/v1/auth/verify-otp/
